* {
	margin: 0;
	padding: 0;
	font-size: small;
}
body,div { 
	padding: 20px; 
}
div,img {
	border: 1px solid #999;
}
#content {
	background-color: #eee;
	width: 1200px;
	margin: 0 auto;
}
#teamName,#teamIntro,#personal {
	background-color: #fff;
}
#teamName {
	float: left;
	/*width: 160px;*/
	padding: 20px;
}
#teamName img {
	float: left;
}
#teamName span {
	margin-left: 20px;
/*	font-size: 16px;*/
	font-weight: bold;
}
#teamIntro {
	margin-left: 222px;
	margin-right: 142px;
}
#personal {
	/*width: 80px;*/
	float: right;
	padding: 0;
}
#personal img {
	display: block;
	margin: 20px;

}
#under {
	clear: both;
	padding: 0;
	border: none;
}