div {
	display: flex;
	margin: 10px;
	border: 1px solid #000;
	justify-content: flex-end;
}
#root {
	width: 1350px;
	margin: 50px auto;
}
.fish {
	width: 100px;
}
#btn {
	display: inherit;
	border: none;
	text-align: center;
}
button {
	width: 100px;
	height: 30px;
	margin-right: 10px;
	border: none;
	outline: none;
	background-color: #DDDDDD;
}