div {
	display: flex;
	margin: 10px;
	border: 1px solid #000;
	justify-content: space-between;
}
#root {
	width: 1350px;
	margin: 50px auto;
	/*flex-wrap: wrap;*/
}
.fish {
	width: 100px;
}
.center {
	display: inherit;
	border: none;
	text-align: center;
}
button {
	width: 100px;
	height: 30px;
	margin-right: 10px;
	border: none;
	outline: none;
	background-color: #DDDDDD;
}
input {
	width: 210px;
	margin-right: 10px;
	margin-bottom: 5px;
}