* {
	margin: 0;
	padding: 0;
}
#container {
	position: relative;
	width: 550px;
	margin: 0 auto;
}
table {
	border-collapse: collapse;
}
td {
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	text-align: center;
	border: 1px solid #C0C0C0;
}
#box {
	box-sizing: border-box;
	position: absolute;
	top: 250px;
	left: 250px;
	width: 50px;
	height: 50px;
	transition: all 1s;
}
#box span {
	display: block;
}
.blue {
	width: 50px;
	height: 15px;
	background-color: #0094FF;
}
.red {
	width: 50px;
	height: 35px;
	background-color: #FF3100;
}
.none {
	border: none;
}
.border-top {
	border-top: 2px solid #000;
}
.border-bottom {
	border-bottom: 2px solid #000;
}
.border-left {
	border-left: 2px solid #000;
}
.border-right {
	border-right: 2px solid #000;
}
#btns,#command {
	margin-top: 10px;
	text-align: center;
}
button {
	width: 50px;
	height: 26px;
	margin-left: 20px;
}
input {
	width: 197px;
	height: 23px;
	margin-left: 20px;
	outline: none;
}
p {
	color: red;
	font-size: 0.8em;
	margin-top: 10px;
	text-align: center;
}
p span {
	margin: 10px;
}

