input {
    border-radius: 3px;
    width: 300px;
    height: 24px;
    outline: none;
    border: 1px solid #CCCCCC;
    text-indent: 2px;
}

input:focus + p {
    display: block;
}

p {
    color: #989898;
    font-size: 0.8em;
    display: none;
    margin-top: 0px;
    margin-left: 3px;
}

button {
    width: 50px;
    height: 28px;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #1F5696;
    background-color: #2563AC;
}

td {
    vertical-align: top;
}

.align-right {
	text-align: right;
    padding-top: 3px;
}
.inputPart {
    padding-left: 20px;
    padding-bottom: 10px;
}
