* {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "微软雅黑","Microsoft Yahei",Arial;
}
#container {
	width: 980px;
	margin: 0 auto;
	padding-bottom: 80px;
}
/* 
	header 
*/
header {
	position: relative;
	width: 892px;
	margin: 0 auto;
	border-bottom: 2px solid #938e8c ;
}
header div {
	width: 110px;
	height: 61px;
	background-color: #d45d5c;
}
header div a {
	position: absolute;
	left: 5px;
	bottom: 2px;
	color: #fff;
	text-decoration: none;
	font-family: "黑体";
}
header>span {
	position: absolute;
	right: 0;
	bottom: 2px;
	float: right;
	color: #d45d5c;
	font-family: "黑体";
}
/* 
	top section 
*/
#top {
	position: relative;
	width: 892px;
	margin: 30px auto;
	background-color: #fff;
}
#top div:first-child {
	position: relative;
	width: 641px;
}
#top .leftblur {
	position: absolute;
	top: 0;
	width: 191px;
	height: 301px;
	opacity: 0.5;
	background-color: #75b86b;
}
#top .rightblur {
	position: absolute;
	top: 0;
	right: 0;
	width: 191px;
	height: 301px;
	opacity: 0.5;
	background-color: #cc8091;
}
#top>div:last-child {
	position: absolute;
	top: 0;
	right: 0;
	width: 203px;
	border-top: 2px solid #cc8091;
}

#top .headline {
	font-size: 24px;
	padding-top: 8px;
	text-decoration: underline;
	font-variant: small-caps;  /*小写字母以大写形式显示，但大小不变*/
}
.top-p1 {
	color: #676767;
	font-style: italic;
	font-family: "楷体";
}
.top-p2 {
	font-style: italic;
	font-size: 116px;
	color: #75b86b;
	margin-left: -10px;
}
.top-p3 {
	font-size: 55px;
	color: #cc8091;
}
.top-p3+div {
	display: inline-block;
	padding-left: 5px;
}
.top-p3+div>p:first-child {
	font-size: 18px;
	color: #cc8091;
}
.top-p3+div>p:last-child {
	color: #cc8091;
}
/* 
	middle section 
*/
#middle {
	width: 640px;
	margin-left: 44px;
}
#middle th {
	font-size: 16px;
	text-align: left;
	text-decoration: underline;
}
#middle td {
	vertical-align: top;
}
.green {
	width: 250px;
	color: #418c59;
}
.yellow {
	width: 230px;
	color: #d2994f;
}
.pink {
	color: #cc7680;
}
.one {
	padding-right: 25px;
	line-height: 20px;
}
.two {
	line-height: 30px;
}
#middle ul {
	padding-top: 10px;
}
#middle ul li {
	list-style-type: none;
	line-height: 25px;
}
#middle ul li i {
	color: #cd4a48;
	font-style: italic;
}
/*
	bottom section
 */
#bottom {
	width: 892px;
	margin: 30px auto;
}
#bottom>article {
	width: 415px;
}
#bottom article>h1 {
	font-size: 36px;
	color: #11456b;
	font-family: "黑体";
}
#bottom .fs {
	font-size: 28px;
}
#bottom h1>span {
	font-size: 72px;
	color: #f5e327;
	font-style: italic;
}
#bottom h1.fs~div {
	padding-top: 20px;
	border-top: 2px solid #11456b;
}
#bottom article div p span {
	display: block;
	height: 80px;
	float: left;
	margin-top: -13px;
	padding-right: 3px;
	padding-bottom: 5px;
	color: #f5e327;
	font-size: 70px;
}
#bottom article div img {
	float: right;
	margin: 20px 10px 10px 20px;
}
.indent {
	text-indent: 2em;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
#past4 {
	position: relative;
}
#past4 div {
	position: absolute;
	bottom: 3px;
	width: 458px;
	height: 61px;
	line-height: 61px;
	background-image: url(images/遮盖条.png);
}
#past4 p {
	height: 44px;
	line-height: 44px;
	margin-top: 8px;
	margin-left: 40px;
	padding-left: 12px;
	border-left: 3px solid #72b16a;
}
#past4 p span:first-child {
	color: #fff;
	font-size: 26px;
}
#past4 p span:last-child {
	color: #72b16a;
	padding-left: 10px;
	font-style: italic;
}
#past5 {
	position: relative;
	height: 318px;
	padding: 20px 10px 0 50px;
	margin-top: 30px;
	background-color: #EAECCC;
}
.icon {
	position: absolute;
	top: 8px;
	left: -20px;
	width: 0;
	border-left: 5px solid #EAECCC;
	border-right: 5px solid #EAECCC;
	border-bottom: 9px solid #0F3261;
}
#past5>p {
	position: relative;
	font-size: 16px;
	color: #5a5b5b;
	font-family: "宋体";
	letter-spacing: 0.2em;
	margin-bottom: 20px;
}
#past5 p i {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 12px;
}
#leftpart {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 260px;
	height: 160px;
	background-color: #d45d5c;
}
#leftpart span {
	color: #fff;
	font-size: 110px;
}
#leftpart div {
	display: inline-block;
	color: #fff;
	height: 86px;
	padding-left: 5px;
	margin-top: 37px;
	border-left: 2px solid #fff;
}
#leftpart div>p:first-child {
	font-size: 20px;
	font-style: italic;
	font-family: "黑体";
}
#rightpart {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 160px;
	width: 180px;
}
#rightpart span {
	font-size: 72px;
	color: #d45d5c;
	font-family: "黑体";
	height: 40px;
}
#rightpart p {
	font-style: italic;
	font-size: 14px;
	color: #5a5b5b;
	letter-spacing: 3px;
	padding-top: 22px;
}
/*
	footer
 */
footer {
	clear: both;
	width: 892px;
	margin: 0 auto;
	padding-top: 3px;
	border-top: 1px solid #938e8c;
}
footer span {
	color: #d45d5c;
}
